{% extends 'layout/dash_base.html' %}
{% load static %}
{% block contents %}
{% load custom_filters %}

    <div class="main-panel">
      <div class="main-header">
        <div class="main-header-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
         </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        <nav class="navbar navbar-header bg-dark  navbar-header-transparent navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="submit" class="btn btn-search pe-1">
                    <i class="fa fa-search search-icon"></i>
                  </button>
                </div>
                <input type="text" placeholder="Search ..." class="form-control" />
              </div>
            </nav>

            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
              <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false" aria-haspopup="true">
                  <i class="fa fa-search"></i>
                </a>
                <ul class="dropdown-menu dropdown-search animated fadeIn">
                  <form class="navbar-left navbar-form nav-search">
                    <div class="input-group">
                      <input type="text" placeholder="Search ..." class="form-control" />
                    </div>
                  </form>
                </ul>
              </li>
        
            

              <li class="nav-item topbar-user dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                  <div class="avatar-sm">
                    <img src="{% static 'img/profile.png' %}" alt="..." class="avatar-img rounded-circle" />
                  </div>
                  <span class="profile-username">
                    <span class="op-7 text-light">Hi,</span>
                    <span class="fw-bold text-light">{{ request.user.username }}</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>

      
      <div class="container">
        <!-- Header Section -->
        <div class="page-inner">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
              {% if membership_name and level_name %}
                  <div>
                    <a href="{% url 'Mycourses' %}">
                      <button type="submit" class="btn btn-outline-dark btn-sm"> <!-- Replaced blue with dark button -->
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
                    </a>
                      <h3 class="text-dark mt-2" id="Selected-course-name">{{ membership_name }}</h3>
                      <p>Dashboard / My course / {{ membership_name }} - Self-Paced</p>
                  </div>
              {% endif %}
          </div>
      </div>
      
    
        <!-- Image Section -->
        <div class="row mb-4">
          <div class="col-12">
              <div class="card">
                  <div class="card-body position-relative text-center p-0">
                      <!-- Full-width Image -->
                      <img src="{% static 'img/Training_videos.webp' %}" class="img-fluid w-80 rounded" alt="Training" style="object-fit: cover;">
                      
                      <!-- Overlay Section -->
                      <div class="position-absolute top-50 start-50 translate-middle text-white text-center py-3 px-4" 
                           style="background: rgba(0, 0, 0, 0.6); border-radius: 10px; max-width: 70%; min-width: 300px;">
                          <h4 class="fw-bold mb-2" style="font-size: 1.5rem;">{{ membership_name }}</h4>
                          <p class="mb-0" style="font-size: 1.1rem;">Level: {{ level_name }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      




        <div class="card">
          <div class="body">
            <!-- Course Analytics -->
            <div class="container mt-5 pt-2 mb-5">
              <!-- Level Title -->
               <div class="card">
              <div  class="card-body" >

                <p class="text-start mb-4 fs-5 fw-bold">Module: <span id="Selected-course-level">{{ level_name }}</span> </p>
            
              </div>
               </div>
              <!-- Videos List -->
               <div class="card" >
               <div class="card-body">
                <ul class="list-group">
                  {% if videos %}
                      {% for video in videos %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                  <!-- Font Awesome Video Icon -->
                                  <i class="fas fa-play-circle me-2 text-primary" style="font-size: 24px;"></i>
                                  <form method="POST" action="{% url 'Video_section' %}" style="display: inline-block;">
                                      {% csrf_token %}
                                      <input type="hidden" name="video_id" value="{{ video.id }}">
                                      <input type="hidden" name="course_name" value="{{ video.membership.course_name }}">
                                      <input type="hidden" name="level" value="{{ video.level }}">
                                      <button class="btn btn-link text-dark text-decoration-none text-start" type="submit">
                                          {{ video.title }}
                                      </button>
                                  </form>
                              </div>
                              <div class="form-check form-switch">
                                <!-- Check if the video is completed -->
                                <input 
                                    class="form-check-input checkbox-custom" 
                                    type="checkbox" 
                                    id="video{{ video.id }}Check"
                                    {% if user_video_progress and user_video_progress|dict_get:video.id %} checked disabled {% endif %} 
                                    onchange="toggleCompletedText(this, 'textCompleted{{ video.id }}')"
                                >
                                <!-- Text for Completed -->
                                <span id="textCompleted{{ video.id }}" class="ms-2">
                                    {% if user_video_progress and user_video_progress|dict_get:video.id %} Completed {% endif %}
                                </span>
                            </div>
                          </li>
                      {% endfor %}
                  {% else %}
                      <li class="list-group-item">No videos available for this level.</li>
                  {% endif %}
              </ul>
              
              {% if user_membership_status == 100 %}
              <div class="d-grid gap-3 mt-4">
                  <div class="row justify-content-center">
                      <div class="col-12 col-md-6">
                          {% if level_2_purchased %}
                              <a href="{% url 'Mycourses' %}">
                                  <button class="btn btn-dark mb-3 btn-sm w-100">Proceed to Next Level</button>
                              </a>
                          {% if level_2_purchased and not level_name == level_2_name    %}  
                            <a href="{% url 'certificate' level_name %}">
                              <button class="btn btn-dark mb-3 btn-sm w-100" >Preview Certificate for Level {{ level_name }}</button>
                            </a>
                          {% endif %}

                          {% elif not level_2_purchased and level_2_name %}
                              <a href="{% url 'training' %}">
                                  <button class="btn btn-dark mb-3 btn-sm w-100">Purchase Next Level</button>
                              </a>
                          {% endif %}
              
                          {% if not level_2_name %}
                          <a href="{% url 'certificate' level_name %}">
                            <button class="btn btn-dark mb-3 btn-sm w-100" >Preview Certificate for Level {{ level_name }}</button>
                          </a>
                          <a href="{% url 'certificate' membership_name %}">
                            <button class="btn btn-dark btn-sm w-100">Print Full Course Certificate {{ membership_name }}</button>
                        </a>
                      
                          {% endif %}
                      </div>
                  </div>
              </div>
              {% endif %}
              

               </div>
               </div>
          
              <!-- Action Buttons -->
            </div>
          </div>
        </div>
           
       
      
    </div>
    
        
    <button id="goToTopButton" title="Go to top">
      <i class="fas fa-arrow-up"></i>
  </button>
<footer class="footer bg-dark">
  <div class="container-fluid d-flex justify-content-between"> 
    <div>
      <a class="text-light" target="_blank" >You are logged in </a>.
    </div>
  </div>
</footer>    
    </div>
        <!-- Go to Top Button -->
          
    </div>
            </div>
        </div>
                
            
          </div>
        </div>
      </div>


     
    </div>


  </div>

  <style>
    /* Custom Checkbox Style */
    .checkbox-custom:checked {
        background-color: #28a745 !important; /* Green color for checked state */
        border-color: #28a745 !important;
    }
</style>
<script>
  function toggleCompletedText(checkbox, textElementId) {
      const textElement = document.getElementById(textElementId);
      if (checkbox.checked) {
          textElement.textContent = "Completed";
      } else {
          textElement.textContent = "";
      }
  }


  
</script>


  
   {% endblock %} 